<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>About me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
      <div class="row">
        <div class="col">
            <h1>{{ name }}</h1>
            <img src="/static/ash_ketchum.jpg" class="img-fluid" />
        </div>

        <div class="col-sm-8">
            <h2>My pokemon: {{ pokemon }}</h2>
        </div>
      </div>

    </div>
</body>
</html>




